/* Remettre les marges et les paddings par défaut */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
  /* Bannière */

  .home 
  {
    margin-left: 5%;
    margin-top: 1%;
    
  }

  .home a 
  {
    text-decoration: none;
    border-bottom: 1px solid white;
  }

  .home a:hover
  {
    transition: 2s ease;
    border-bottom: 1px solid rgba(11, 11, 11, 0.352);
  }
  .banniere {
    width: 100%;
    height: 350px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.137);
    display: flex;
    justify-content: center;
  }
  
  
  /* Zone de texte */
  .ZoneText {
    width: 90%;
    height: 200px;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 10%;
    
  }
  
  a
  {
    text-decoration: none;
  }
  /* Paragraphe */
  p {
    margin-top: 2%;
  }

  .ZoneScreen
  {
    width: 100%;
    height: 200px;

  }

  .ZoneTexte
  {
    width: 90%;
    height: 100px;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 1%;
    
   
  }

  .imageTable {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
  }

  .container {
    width: 90%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .col {
    flex-basis: 20%;
    margin: 0 1%;
    box-sizing: border-box;
    text-align: center;
    
  }

  .col img {
    max-width: 100%;
    height: 200px;
    display: block;
    margin: 0 auto;
  }

.titletechnologie
{
  margin-left: 5%;
  margin-bottom: 1%;
}

.technologie
{
    width: 90%;
    margin-top: 14%;
    height: 50px;
    display: flex;
    justify-content: center;

   
    
}

.contenairTechnologie
{
    width: 500px;
    height: 50px;
    margin-left: 5%;
    display: flex;
   
    

}

.rowtechnologie
{
    width: 500px;
    height: 50px;
    
    display: flex;
    justify-content: space-between;
}

.coltechnologie
{
    width: 30px;
    height: 35px;
    
}

.coltechnologie img
{
    width: 50px;
    height: 50px;

}

#sql img
{
  width: 105px;
}

  .autreProjets
  {
    width: 100%;
    height: 120px;
    margin-top: 10%;
  }

  #autreProjets img
  {
    width: 100px;
    height: 130px;

  }

  footer {
    background-color: #333;
    color: #fff;
    font-size: 14px;
    padding: 10px 0;
    margin-top: 5%;
}

.containerfooter {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.version {
    text-align: right;
}









/* Media Queries */

@media screen and (max-width: 576px) {
 .banniere
 {
  max-width: 576px;
  height: 100px;
  display: flex;
  justify-content: center;
 }

 .home
 {
   font-size: 8px;
   margin-top: 5%;
 }
 .banniere img
 {
   width: 100px;
   height: 100px;
 }
 .ZoneText
 {
   width: 500px;
   margin-top: 5%;
 

 }

 .ZoneText p
 {
   font-size: 8px;
 }

 .imageTable
 {
   width: 100%;
   height: 100px;
   margin-bottom: 5%;
 }

 .container {
  width: 90%;
  height: 80px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3%;
}

.col {
  flex-basis: 20%;
  margin: 0 1%;
  box-sizing: border-box;
  text-align: center;
  
  
}

.col img {
  max-width: 100%;
  height: 100px;
  display: block;
  margin: 0 auto;
}

.ZoneTexte
  {
    width: 500px;
    height: 100px;
    margin-left: 5%;
    margin-bottom: 1%;
    
   
  }

  .ZoneTexte p
  {
    font-size: 7px
  }

  h5
  {
    font-size: 5px;
  }

  .technologie
{
    width: 500px;
    margin-top: 5%;
    height: 20px;
    display: flex;
    justify-content: start;

   
    
}

.contenairTechnologie
{
    width: 500px;
    height: 50px;
    margin-left: 5%;
    display: flex;
   
    

}

.rowtechnologie
{
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: start;
    justify-content: space-around;
}

.coltechnologie
{
    width: 30px;
    height: 35px;
    
}

.coltechnologie img
{
    width: 50%;
    height: 50%;

}

#sql img
{
  width: 50px;
}

.autreProjets
{
  width: 100%;
  height: 100px;
  margin-top: 10%;
}

#autreProjets img
{
  width: 50px;
  height: 70px;

}

footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  font-size: 7px;
  padding: px 0;
  margin-top: 5%;
}

.containerfooter {
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  max-width: 576px;
  margin: 0 auto;
}
p 
{
  font-size: 7px;
}
.containerfooter p 
{
 margin: 2%;
}

.version {
  text-align: right;
}
  
}


@media screen and (min-width: 576px) and (max-width: 768px) {
  .banniere {
    max-width: 768px;
    min-width: 576px;
    height: 100px;
    display: flex;
    justify-content: center;
  }
  
  .home {
    font-size: 8px;
    margin-top: 5%;
  }
  
  .banniere img {
    width: 100px;
    height: 100px;
  }
  
  .ZoneText {
    max-width: 700px;
    min-width: 500px;
    margin-top: 5%;
  }
  
  .ZoneText p {
    font-size: 10px;
  }
  
  .imageTable {
    width: 100%;
    height: 100px;
    margin-bottom: 7%;
  }
  
  .container {
    width: 90%;
    height: 80px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3%;
  }
  
  .col {
    flex-basis: 20%;
    margin: 0 1%;
    box-sizing: border-box;
    text-align: center;
  }
  
  .col img {
    max-width: 100%;
    height: 100px;
    display: block;
    margin: 0 auto;
  }
  
  .ZoneTexte {
    max-width: 700px;
    min-width: 500px;
    height: 100px;
    margin-left: 5%;
    margin-bottom: 1%;
    
  }
  
  .ZoneTexte p {
    font-size: 10px;
  }
  
  h5 {
    font-size: 8px;
  }
  
  .technologie {
    max-width: 768px;
    min-width: 500px;
    margin-top: 9%;
    height: 20px;
    display: flex;
    justify-content: center;
  }
  
  .contenairTechnologie {
    max-width: 768;
    min-width: 500px;
    height: 50px;
    margin-left: 5%;
    display: flex;
  }
  
  .rowtechnologie {
    max-width: 768;
    min-width: 500px;
    height: 50px;
    display: flex;
    justify-content: start;
    justify-content: space-around;
   
  }
  
  .coltechnologie {
    width: 30px;
    height: 35px;
  }
  
  .coltechnologie img {
    width: 120%;
    height: 120%;
  }
  
  #sql img {
    width: 80px;
    height: 30.5px;
   
   
  }
  
  .autreProjets {
    max-width: 768px;
    min-width: 576px;
    height: 100px;
    margin-top: 10%;
    margin-bottom: 10%;
    
  }
  
  #autreProjets img {
    width: 100px;
   
  }
  
  footer {
    max-width: 768px;
    min-width: 576px;
    background-color: #333;
    color: #fff;
    font-size: 7px;
    padding: px 0;
    margin-top: 5%;
  }
  
  .containerfooter {
    margin-left: 2%;
    display: flex;
    justify-content: space-between;
    max-width: 576px;
    margin: 0 auto;
  }
  
  p {
    font-size: 8px;
  }
  
  .containerfooter p {
    margin: 2%;
  }
  
  .version {
    text-align: right;
  }
}
