/* Remettre les marges et les paddings par défaut */
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/* Bannière */

.home 
{
  margin-left: 5%;
  margin-top: 1%;
  
}

.home a 
{
  text-decoration: none;
  border-bottom: 1px solid white;
}

.home a:hover
{
  transition: 2s ease;
  border-bottom: 1px solid rgba(11, 11, 11, 0.352);
}
.banniere {
  width: 100%;
  height: 350px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.137);
  display: flex;
  justify-content: center;
}


/* Zone de texte */
.ZoneText {
  width: 90%;
  height: 200px;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 10%;
  
}

a
{
  text-decoration: none;
}
/* Paragraphe */
p {
  margin-top: 2%;
}

.ZoneScreen
{
  width: 100%;
  height: 200px;

}

.ZoneTexte
{
  width: 90%;
  height: 100px;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 1%;
  
 
}

.imageTable {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
}

.container {
  width: 90%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  flex-basis: 20%;
  margin: 0 1%;
  box-sizing: border-box;
  text-align: center;
  
}

.col img {
  max-width: 100%;
  height: 200px;
  display: block;
  margin: 0 auto;
}

.titletechnologie
{
margin-left: 5%;
margin-bottom: 1%;
}

.technologie
{
  width: 90%;
  margin-top: 14%;
  height: 50px;
  display: flex;
  justify-content: center;

 
  
}

.contenairTechnologie
{
  width: 500px;
  height: 50px;
  margin-left: 5%;
  display: flex;
 
  

}

.rowtechnologie
{
  width: 500px;
  height: 50px;
  
  display: flex;
  justify-content: space-between;
}

.coltechnologie
{
  width: 30px;
  height: 35px;
  
}

.coltechnologie img
{
  width: 50px;
  height: 50px;
  cursor: pointer;

}



#sql img
{
width: 105px;
}

.autreProjets
{
  width: 100%;
  height: 120px;
  margin-top: 10%;
}

#autreProjets img
{
  width: 100px;
  height: 100px;

}

#autreProjets
{
  border: 1px solid rgba(104, 102, 102, 0.137);
  cursor: pointer;
}

#autreProjets img:hover
{
  transition: 1s;
  width: 110px;
  height: 110px;
}

footer {
  background-color: #333;
  color: #fff;
  font-size: 14px;
  padding: 10px 0;
  margin-top: 5%;
}

.containerfooter {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.version {
  text-align: right;
}









/* Media Queries */

@media only screen and (max-width: 400px) {
 
  .banniere {
    
    height: 100px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.137);
    display: flex;
    justify-content: center;
  }

  .banniere img
  {
    width: 100px;
    height: 100px;
   
  }
  
  .ZoneText {
    width: 90%;
    height: 160px;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 10%;
    
  }
  
  
a
{
  text-decoration: none;
  font-size: 6px;
}
/* Paragraphe */
p {
  margin-top: 2%;
}

.ZoneScreen
{
  width: 100%;
  height: auto;

}



p 
{
  font-size: 6px;
}

.imageTable
 {
   width: 100%;
   height: 40px;
   margin-bottom: 1%;
 }

 .container {
  width: 90%;
  height: 80px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3%;
}

.col {
  flex-basis: 20%;
  margin: 0 1%;
  box-sizing: border-box;
  text-align: center;
  
  
}

.col img {
  max-width: 80%;
  height: 80%;
  display: block;
  margin: 0 auto;
}

.ZoneTexte
  {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-bottom: 7%;
    
    
    
   
  }

  .ZoneTexte p
  {
    font-size: 6px
  }

  h5
  {
    font-size: 4px;
  }

  .technologie
{
    width: 80%;
    margin-top: 5%;
    height: 20px;
    display: flex;
    justify-content: start;

    margin-left: 5%;

   
    
}

.contenairTechnologie
{
    width: 80%;
    height: 80%px;
    margin-left: 5%;
    display: flex;
   
    

}

.rowtechnologie
{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: start;
    justify-content: space-around;
    
}

.coltechnologie
{
    width: 20px;
    height: 25px;
    
}

.coltechnologie img
{
    width: 40%;
    height: 45%;
    

}

#sql img
{
  width: 50px;
}

.autreProjets
{
  width: 100%;
  height: 100px;
  margin-top: 10%;
}

#autreProjets img
{
  width: 50px;
  height: 50px;

}
 
  
  footer {
      background-color: #333;
      color: #fff;
      font-size: 14px;
      padding: 10px 0;
  }
  
  .containerfooter {
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;
      margin: 2%;
  }
  
  .version {
      text-align: right;
  }
  
  .containerfooter p {
      font-size: 7px;
  }
.nav
{
  width: 90%;
  height: 20px;
  justify-content: end;
  display: flex;
  margin-right: 5%;
  margin-top: 5%;
  
 
}

}



@media only screen and (min-width: 401px) and (max-width: 960px)
{
 
 
    .banniere {
      
      height: 100px;
      border-bottom: 1px solid rgba(128, 128, 128, 0.137);
      display: flex;
      justify-content: center;
    }
  
    .banniere img
    {
      width: 100px;
      height: 100px;
     
    }
    
    .ZoneText {
      width: 90%;
      height: 190px;
      margin-left: 5%;
      margin-top: 2%;
      margin-bottom: 10%;
      
    }
    
    
  a
  {
    text-decoration: none;
    font-size: 9px;
  }
  /* Paragraphe */
  p {
    margin-top: 2%;
  }
  
  .ZoneScreen
  {
    width: 100%;
    height: auto;
  
  }
  
  
  
  p 
  {
    font-size: 10px;
  }
  
  .imageTable
   {
     width: 100%;
     height: auto;
     margin-bottom: 1%;
   }
  
   .container {
    width: 90%;
    height: 80px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3%;
  }
  
  .col {
    flex-basis: 20%;
    margin: 0 1%;
    box-sizing: border-box;
    text-align: center;
    
    
  }
  
  .col img {
    max-width: 90%;
    height: 90%;
    display: block;
    margin: 0 auto;
  }
  
  .ZoneTexte
    {
      width: 90%;
      height: auto;
      margin-left: 5%;
      margin-bottom: 7%;
      margin-top: 10%;
      
      
    }
  
    .ZoneTexte p
    {
      font-size: 10px
    }
  
    h5
    {
      font-size: 8px;
    }
  
    .technologie
  {
      width: 90%;
      margin-top: 5%;
      height: 20px;
      display: flex;
      justify-content: center;
  
      margin-left: 5%;

      
  }
  
  .contenairTechnologie
  {
      width: 500px;
      height: 50px;
      margin-left: 5%;
      display: flex;
     
      
  
  }
  
  .rowtechnologie
  {
      width: 300px;
      height: 50px;
      display: flex;
      justify-content: start;
      justify-content: space-around;
      
  }
  
  .coltechnologie
  {
      width: 25px;
      height: 38px;
      
  }
  
  .coltechnologie img
  {
      width: 50%;
      height: 50%;
      
  
  }
  
  #sql img
  {
    width: 50px;
  }
  
  .autreProjets
  {
    width: 100%;
    height: 100px;
    margin-top: 10%;
  }
  
  #autreProjets img
  {
    width: 50px;
    height: 50px;
  
  }


  
  footer {
      width: 100%;
      background-color: #333;
      color: #fff;
      font-size: 14px;
      padding: 10px 0;
  }
  
  .containerfooter {
      display: flex;
      justify-content: space-between;
      max-width: 960px;
      margin: 0 auto;
      margin-left: 5%;
      margin-right: 5%;

  }
  
  .version {
      text-align: right;
  }
  
  .containerfooter p {
      font-size: 7px;
  }
.nav
{
  width: 90%;
  height: 20px;
  justify-content: end;
  display: flex;
  margin-right: 5%;
  margin-top: 5%;
  
 
}

}

/*ukranianvoices*/

#ukranianvoices
{
  margin-bottom: 25%;
}


/*maltraitance*/
#maltraitances
{
  margin-top: 5%;

}

a
{
  color: rgb(122, 120, 117);
}

#maltraitanceAutresProjets
{
  margin-top: 15%;
}